* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
}

/* Landing section */
#landing {
  background: url("./images/header.svg") no-repeat;
  background-size: cover;
  color: #B59066;
  font-size: 40px;
  line-height: 60px;
  font-weight: 700;
}

.title {
  color: #B59066;
  font-size: 48px; /* Updated font size for .title */
  font-weight: 600;
  line-height: 1.2;
  text-align: center;
}

/* About section */
#about {
  color: #B59066;
  text-align: center;
  padding: 0 20px;
}

.paragraph {
  color: #B59066;
  font-size: 33px;
  font-weight: 200;
  line-height: 40px;
  margin-top: 20px;
  text-align: justify;
}

/* Button styles */
.btn-custom {
  background-color: #B59066;
  border-radius: 10px;
  color: #fff;
  padding: 6px 12px;
  margin-bottom: 1rem;
  font-size: 14px;
}

.btn-custom:hover {
  background-color: #B59066;
}

/* Projects section */
#projects {
  background: url("./images/base.svg") no-repeat;
  background-size: cover;
  color: #B59066;
  padding: 50px 0;
}

#projects h2 {
  font-size: 48px;
  font-weight: 600;
  margin-bottom: 30px;
}

#projects .card {
  margin-bottom: 30px;
}

.card-title,
.card-text {
  color: #000;
}

/* Tools section */
#tools {
  color: #B59066;
  padding: 50px 0;
}

#tools h2 {
  font-size: 48px;
  font-weight: 600;
  margin-bottom: 30px;
}

.tools-img {
  height: auto;
  width: 100px;
  border-radius: 50%;
  border: 2px solid #B59066;
  margin: 20px;
}

/* Contact section */
#contact {
  background: #B59066;
  color: #fff;
}

.contact-info {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.contact-info a {
  margin: 10px 5px; /* Adjust the margin here */
}

.contact-info img {
  max-height: 100px;
  width: auto;
}

@media (max-width: 768px) {
  .contact-info a {
    flex-basis: 25%; /* Set the width of each image container to 25% */
    max-width: 25%; /* Ensure images occupy 25% of the container width */
    margin: 10px; /* Reset the margin */
  }

  .contact-info img {
    max-width: 100%; /* Ensure images occupy the full width of the container */
  }
}
  
/* Responsive styles */
@media (max-width: 991.98px) {
  /* Navbar adjustments */
  .navbar-nav {
    text-align: center;
  }

  /* Landing section adjustments */
  #landing {
    font-size: 36px;
    line-height: 48px;
  }

  /* About section adjustments */
  .about-title {
    font-size: 42px;
    line-height: 48px;
  }
}

@media (max-width: 767.98px) {
  /* Navbar adjustments */
  .navbar-brand {
    font-size: 18px;
  }

  .navbar-nav {
    padding-top: 10px;
  }

  /* Landing section adjustments */
  #landing {
    font-size: 32px;
    line-height: 40px;
  }

  /* About section adjustments */
  .about-title {
    font-size: 36px;
    line-height: 42px;
  }

  .paragraph {
    font-size: 14px;
    line-height: 20px;
  }

  /* Tool section adjustments */
  .tools-img {
    height: 80px;
    width: 80px;
    margin: 10px;
  }

  /* Button adjustments */
  .btn-custom {
    padding: 4px 8px;
    font-size: 12px;
    border-radius: 8px;
  }

  /* Responsive h2 adjustments */
  #projects h2,
  #tools h2 {
    font-size: 32px;
    margin-bottom: 20px;
  }

  /* Responsive .title adjustment */
  .title {
    font-size: 32px; /* Set font size to match h2 */
  }
}

@media (max-width: 425px) {
  /* Navbar adjustments */
  .navbar-brand {
    font-size: 16px;
  }

  /* Landing section adjustments */
  #landing {
    font-size: 24px;
    line-height: 32px;
  }

  /* About section adjustments */
  .about-title {
    font-size: 24px;
    line-height: 30px;
  }

  .paragraph,
  .about-paragraph {
    font-size: 12px;
    line-height: 18px;
    max-width: 90%;
    margin: 0 auto;
  }

  /* Tool section adjustments */
  .tools-img {
    height: 60px;
    width: 60px;
    margin: 8px 10px;
  }
}

@media (max-width: 320px) {
  /* Landing section adjustments */
  #landing {
    font-size: 20px;
    line-height: 28px;
  }

  /* About section adjustments */
  .about-title {
    font-size: 20px;
    line-height: 24px;
  }

  .paragraph,
  .about-paragraph {
    font-size: 10px;
    line-height: 14px;
    max-width: 90%;
    margin: 0 auto;
  }

  /* Tool section adjustments */
  .tools-img {
    height: 50px;
    width: 50px;
    margin: 6px 8px;
  }

  /* Button adjustments */
  .btn-custom {
    padding: 2px 4px;
    font-size: 10px;
    border-radius: 6px;
  }
}
